<footer>
  {% include "includes/footer-menu.html.twig" with { main_menu } only %}

  <div class="mt-4 mb-8 px-6 text-center">
    <p class="text-gray">A clone of the talkingdrupal.com website <a href="https://github.com/opdavies/talking-drupal-tailwindcss">built with Tailwind CSS</a>.</p>
  </div>
</footer>
