<div class="space-y-6">
  <section>
    <h2 class="sr-only">Links</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2">
      <a class="p-4 grid place-items-center" href="#0"><img src="https://talkingdrupal.com/sites/all/themes/sitetheme/images/subscribe_itunes.png" alt="Subscribe on iTunes"/></a>
      <a class="p-4 grid place-items-center" href="#0"><img class="h-[44px] w-auto" src="https://play.google.com/intl/en_us/badges-music/images/badges/en_badge_web_music.png" alt="Listen on Google Play Music"/></a>
      <a class="p-4 grid place-items-center" href="#0"><img src="https://talkingdrupal.com/sites/all/themes/sitetheme/images/Spotify.png" alt="Listen on Spotify"/></a>
    </div>
  </section>

  <section>
    <h2 class="uppercase text-2xl text-secondary">Stay Updated</h2>
    <div class="text-gray">
      <p>Sign up for our newsletter and receive</p>

      {% embed "includes/button.html.twig" %}
        {% block text "E-Mail Updates" %}
      {% endembed %}
    </div>
  </section>


  <section>
    <h2 class="uppercase text-2xl text-secondary">Contact</h2>
    <div class="text-gray">
      <p>show@talkingdrupal.com</p>
      <p>@talkingdrupal</p>
    </div>
  </section>

  <section>
    <h2 class="uppercase text-2xl text-secondary">Promote your Event</h2>
    <div class="text-gray">
      <p>Learn about promoting your Drupal Event on Talking Drupal.</p>

      {% embed "includes/button.html.twig" %}
        {% block text "E-Mail Updates" %}
      {% endembed %}
    </div>
  </section>
</div>
