@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1:after,
  h1:before {
    @apply text-6xl leading-[0] italic;
  }

  h1:after {
    content: "”";
  }

  h1:before {
    content: "“";
  }
}
