<div class="bg-[#8CC4DF] pt-5 pb-[10px]">
  <div class="max-w-[1040px] px-[10px] mx-auto flex items-end justify-between">
    <img src="https://talkingdrupal.com/sites/default/files/talking_drupal_logo.png"/>

    {% include "search-form" %}

    {% include "main-menu" with { links } only %}
  </div>
</div>
